@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: #efefef;
  --color-foreground: #333333;
  --border-color: #4e4e4e;
  --primary-color: #2b67ff;
  --separator-color: #dddddd;
}

@theme {
  --color-primary: #2b67ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-background: #212121;
    --color-foreground: #dedede;
    --border-color: #333333;
  }
}

* {
  border-color: var(--border-color);
}

section, nav, header, footer {
  border-color: var(--separator-color);
}

input, textarea {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.code-block div:has(code) {
  padding: 1rem 6rem 1rem 1.25rem;
  font-size: 0.725rem;
  width: 100%;
  text-wrap: balance;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  
  touch-action: none;
  user-select: none;
  -webkit-user-select: none;
}



.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  transition: transform 0.2s ease-in-out;
}

button:active {
  transform: scale(0.9);
}